<p>Experience Works</p>
<!-- <div>
  <mat-accordion>
    <mat-expansion-panel class="dataExp" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tata Consultancy Services
      </mat-panel-title>
      <mat-panel-description>
        Digital Resume
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <ul>
        <li>We have used Angular 9 framework and for styling Bootstrap.</li>
        <li>Using REST API's we have retreived the data from the backend.</li>
        <li>The data we have received from the backend is JSON data.</li>
      </ul>
    </div>
    <p>In this project I have worked in an Agile Environment. We have used Angular 9 framework and for styling we
        have used Bootstrap. We have received JSON data from backend. We have used REST API's to retreive the data. We have used data binding for updating the changes made by the user.
    </p>
  </mat-expansion-panel>
</mat-accordion>
</div> -->
