section{
    background: white;
    padding: 1rem;
}
label{
    font-size: large;
    padding-left: 2%;
    color:  rgba(9,9,121,1);
}
.skillbar{
    padding: 0 1rem;
    margin-top: 0.4rem;
    width: 25%;
}
.inline{
    display: flex;
    float: left;
    padding: 1%;
    margin: 1%;
    background-color: rgba(0, 212, 255, 0.2);
}