<div class="mail">
    <div class="title">
        <h1>Get in <br> touch !!!</h1>
    </div>
    <div class="vertical"></div>
    <div class="col">
        <form [formGroup]="contactForm" class="form-container" validation-form>
            <div class="row">
                <mat-form-field>
                    <input formControlName="firstName" required placeholder="first name" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="lastName" placeholder="last name" matInput type="text">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input formControlName="gmail" required placeholder="abc@gmail.com" matInput type="email">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="phoneNumber" placeholder="Phonenumber" matInput type="tel">
                </mat-form-field>
            </div>
            <div class="row" style="width: 200%;">
                <mat-form-field>
                    <textarea formControlName="comments" placeholder="Type comments here" matInput></textarea>
                </mat-form-field>
            </div>
            <div class="actions">
                <button mat-raised-button class="primary" type="submit" (click)="sendInfor()">Submit</button>
                <button mat-raised-button type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>