<div class="abt">
<h1>
    I Design and Develop Websites
</h1>
<img src="assets/gradPic.jpg" width="300px" height="300px" class="photo" alt="VamsiAlapaty">
<p>
    I am having 4 years of experience in Frontend Development. There are few projects in my github repository.
    I like to play badmintion and interested in photography. I have recently started a new page called aveyecapture in instagram, you can find the link here.
    <a href="https://www.instagram.com/aveyecapture/">AVEyeCapture</a>
</p>
<p>
    I am Vamsi Alapaty, an experienced professional with over 4 years of experience in the field of computer science. I hold a Masters degree in Computer Science from the University of Missouri Kansas City, showcasing my dedication and commitment to my chosen field of study.

Beyond my professional career, I have a diverse range of interests and hobbies. One of my passions is badminton, a sport I enjoy playing during my leisure time. Whether it's a friendly match or a competitive game, I find great joy and satisfaction in the fast-paced nature of badminton.

Photography is another avenue through which I express my creativity. Armed with a camera, I capture moments and frame them in a way that tells a story. From landscapes to portraits, I have a keen eye for detail and enjoy exploring different perspectives and techniques in photography.

When I'm not immersed in my work or pursuing my hobbies, I love indulging in good food. I am a food enthusiast who appreciates various cuisines and enjoys trying out new dishes. Whether it's exploring local restaurants or experimenting with my culinary skills at home, I find pleasure in savoring delicious meals and discovering unique flavors.

Currently, I reside in Kansas City, Missouri. This city serves as a vibrant backdrop for my professional and personal life. Known for its rich cultural heritage and friendly community, Kansas City offers a diverse range of opportunities for both work and leisure.

With my academic background, professional experience, and diverse interests, I bring a well-rounded perspective to my endeavors. Whether it's solving complex computer science problems, capturing memorable moments through my photography, engaging in a competitive badminton match, or exploring the culinary world, my diverse passions and skills make me an intriguing individual with much to offer.
</p>
</div>