
.resume{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(0, 212, 255) 100%);
    width: 100%;
    height: 100%;
}
.name{
    color: white;
    display: flex;
    margin: 0 10rem;
    text-align: center;
}
.routin{
    margin: 0 10rem;
}
nav{
    text-align: center;
}
a{
    margin-left: 15px;
    color: azure;
}